{% macro card (type, contentLink, imgLink, title, objectives, extra) %}
  <a class="ui raised link card" href="{{contentLink}}">
    <div class="content">
        <div class="right floated meta"> <i class="{{type}} large icon"></i></div>
        <div class="header"> {{title}} </div>
    </div>
    <div class="image">
      <img class="ui bordered rounded image" src="{{imgLink}}">
    </div>
    <div class="content">
      <div class="description">
         {{objectives}}
      </div>
    </div>
    {% if extra %}
    <div class="extra content center aligned">
       {{extra}}
    </div>
    {% endif %}
  </a>
{% endmacro %}