{% macro talkwallheader(parent, type, title, subtitle, credits) %}

{% import "elements/walllinks.html" as walllinks %}
{% import "elements/topics.html" as topics %}

<header class="ui middle aligned center aligned stackable grid segment">
  {% include "elements/sidebarlink.html" %}

  <div class="seven wide center aligned column">
    <h2 class="headder"> {{title}}</h2>
    <p> All Slides in the Course </p>
  </div>

  {{ topics.topics ("index.html") }}
  {{ walllinks.walllinks ("talkwall.html", "labwall.html") }}

  {% include "elements/crest.html" %}

</header>
{% endmacro %}
