{% macro topicheader(parent, icon, title, subtitle) %}

{% import "elements/walllinks.html" as walllinks %}
{% import "elements/topics.html" as topics %}

  <header class="ui middle aligned center aligned stackable grid segment">

    {% include "elements/sidebarlink.html" %}

    <div class="seven wide center aligned column">
      <h2> {{title}} </h2>
      <p> Single Topic </p>
    </div>

    {{ topics.topics ("../index.html") }}
    {{ walllinks.walllinks ("../talkwall.html", "../labwall.html") }}

    {% include "elements/crest.html" %}
  </header>
{% endmacro %}