# macro topicheader(parent, icon, title, subtitle)
  <header class="ui middle aligned center aligned stackable grid segment">
    <div class="eight wide  column">
      <h2> {{title}} </h2>
      <!--<h3> ({{subtitle}}) </h3>-->
    </div>
    <div class="one wide column sitemap">
      <div class="popup" data-content="Top Level Topic View">
        <a href="../index.html"> <i class="big sitemap icon"></i></a>
        topics
      </div>
    </div>
    <div class="one wide column">
      <div class="popup" data-content="All Presentations">
        <a href="../talkwall.html"> <i class="big film icon"></i></a>
        slides
      </div>
    </div>
    <div class="one wide column">
      <div class="popup" data-content="All Labs">
        <a href="../labwall.html"> <i class="big lab icon"></i></a>
        labs
      </div>
    </div>
    <div class="five wide column">
      <img class="ui centered medium image" src="http://www.wit.ie/assets/images/wit_crest.png">
    </div>
  </header>

<script>
  $('.popup')
  .popup()
;
</script>
# endmacro