{% macro walllinks(talks, labs) %}
<div class="two wide column">
  <div class="center aligned middle aligned grid segment">
    <div class="row">
      <div class="popup" data-content="All Slides in Course">
        <a href="{{talks}}"> <i class="large film icon"></i> All Slides </a>
      </div>
    </div>
    <div class="row">
      <div class="popup" data-content="All Labs in Course">
        <a href="{{labs}}"> <i class="large lab icon"></i> All Labs </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}