{% import "partials/header.html" as header %}
{% import "partials/card.html" as card %}

{% extends "main.html" %}
{% block content %}

<div class="ui segment pushable">
  <div class="ui inverted inline vertical sidebar menu">
    {% for topic in topics %}
    <div class="header">
      <a class="item" href="{{topic.folder}}/index.html">
        {{topic.title}}
      </a>
    </div>
    <div class="menu">
      {% for resource in topic.resources %}
      <div class="menu">
        <a class="item" href="{{topic.folder}}/{{resource.folder}}/{{resource.link}}">
          {{resource.title}}</a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      {{ header.header("#", "sitemap", title, "Topics", credits) }}
      <div class="ui four doubling stackable cards">
        {% for topic in topics %}
          {{ card.card ("sitemap", "./" + topic.folder + "/index.html", "./" + topic.folder + "/" + topic.img, topic.title, topic.objectivesWithoutHeader) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}