<!DOCTYPE html>
 <html>
   <head>
     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
     <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>

  #from  "partials/vpanel.html" import vpanel  as vpanel

 <div class="row">
    #for resource in topic.talkList
      <div class="col-md-6">
      {{vpanel ("panel-info", course.courseUrl + resource.topicFolder + resource.link[1:], course.courseUrl + resource.topicFolder + resource.imgPath[1:], resource.title, resource.objectivesWithoutHeadder) }}
      </div>
    # endfor
</div>

 <div class="row">
    #for resource in topic.bookList
      <div class="col-md-6">
      {{vpanel ("panel-danger", course.courseUrl + resource.topicFolder + "/" + resource.link, course.courseUrl + resource.topicFolder + resource.imgPath[1:], resource.title, resource.objectivesWithoutHeadder) }}
      </div>
   # endfor
 <div>

  </body>
</html>