{% import "partials/topicheader.html" as topicheader %}
{% import "partials/card.html" as card %}

{% set assetprefix = "../assets" %}

{% extends "main.html" %}
{% block content %}

{{ topicheader.topicheader("../index.html", "glyphicon-chevron-left", title, "", credits, gitterid) }}

<div class="ui segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    <div class="header">
      <a class="item" href="#">
        {{title}}
      </a>
    </div>
    <div class="menu">
      {% for resource in resources %}
      <a class="item" href="{{resource.folder}}/{{resource.link}}">
        {{resource.title}}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="pusher">
    <div class="ui container">
      <div class="ui basic segment">
          {% if (videos.length > 0) %}
          <div class="ui embed segment">
            <div class="ui embed" data-source="youtube" data-id="{{videos[0].videoid}}"></div>
          </div>
          {% endif %}
        <div class="ui four doubling stackable cards">
          {% for resource in resources %}
          {{ card.card (resource.icon,
          resource.folder + '/' + resource.link,
          resource.folder + '/' + resource.img, resource.title,
          resource.objectivesWithoutHeader) }}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}