{% import "partials/talkwallheader.html" as talkwallheader %}
{% import "partials/labwallheader.html" as labwallheader %}
{% import "partials/card.html" as card %}

{% extends "main.html" %}
{% block content %}

<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical sidebar menu">
    {% for resource in resources %}
    <a class="item" href="{{resource.parentFolder}}/{{resource.folder}}/{{resource.link}}">
      {{resource.title}}
    </a>
    {% endfor %}
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      {% if icon == 'lab'  %}
        {{ labwallheader.labwallheader("#", icon, title, "Wall") }}
      {% else %}
        {{ talkwallheader.talkwallheader("#", icon, title, "Wall") }}
      {% endif %}
      <div class="ui four doubling stackable cards">
        {% for resource in resources %}
        {{ card.card (resource.icon,
                       resource.parentFolder + '/' + resource.folder + '/' + resource.link,
                       resource.parentFolder + '/' + resource.folder + '/' + resource.img,
                       resource.title,
                       resource.objectivesWithoutHeader) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}}